.tweet_box {
  border-bottom: 3px solid rgb(224, 224, 224);
  padding: 20px;
  position: relative;
}

.tweet_form {
  display: flex;
  flex-direction: column; 
}

.tweet_box_input {
  display: flex;
}

.tweet_box_input > input {
  flex: 1;
  font-size: 15px;
  margin-left: 20px;
  border: none;
  outline: none;
}

.image_input {
  border: none;
  padding: 20px;
  outline: none;
}

.tweet_button {
  background-color: #000 !important;
  border-radius: 30px !important;
  color: white !important;
  font-weight: bold !important;
  font-size: 12px !important;
  height: 30px;
  width: 130px;
  padding: 5px 10px !important;
  align-items: stretch !important;
  margin: 20px 10px 0 auto !important;
  transition: all .3s !important;
  opacity: .4;
}

.tweet_button_active {
  opacity: 1 !important;
}

.tweet_button:hover {
  opacity: .7;
}

.login_hiddenIcon {
  text-align: center;
  display: none;
}
.login_addIcon {
  cursor: pointer;
  color: gray;
}
.login_addIconLoaded {
  cursor: pointer;
  color: whitesmoke;
}

.image_icon {
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.posting_image {
  margin: 20px auto;
  width: 90%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}